@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');

/* Teal header "Smart, Quiet, Hardworking" with Asian Fam SVG */
.tealheader {
  background-color: #083837;
  color: white;
  width: auto;
  height: 800px;
  display: flex;
}

.tealheaderchild {
  margin: auto;
  display: inline-block;
}

h1 {
  padding-left: 15px;
  padding-bottom: 0px;
  font-weight: 900;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 50px;
  line-height: 37px;
  color: #f6f0e0;
  text-align: center;
  margin-bottom: 5%;
}

.subheader {
  font-weight: 600;
  font-size: 30px;
  color: #f6f0e0;
  text-align: center;
  margin-bottom: 5%;
}

.asianheaderimg {
  width: 40%;
}
/* teal header end */

/* start white body */

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.bodycolumn {
  padding-left: 15%;
  padding-right: 15%;
}

.byline {
  font-size: 16px;
  font-weight: 300;
  text-align: right;
  font-family: 'Nunito Sans', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: #083837;
  font-size: 25px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 0px;
  font-size: 20px;
}

.headermultiples {
  line-height: 5px;
  color: #c6a34f;
  line-height: 5px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.pparagraphs {
  line-height: 30px;
}

.pmultimples {
  padding-top: 0px;
}

/* bar chart multiples and pie chart multiples */

.grid_contain_multiples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 5%;
}
.multiples {
  padding: 2%;
}

/* treemap and scatterplot */
.grid_contain_treescat {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  justify-items: center;
  text-align: center;
  row-gap: 70px;
}

.treescatsub {
  font-size: 20px;
  color: #c6a34f;
}

.treechart800 {
  /* width: 720px; */
  max-width: 100%;
  display: block;
}

.treechartMobile {
  display: none;
}

.treescat2 {
  max-width: 100%;
  display: block;
}

.scatplotMobile {
  display: none;
}

img {
  max-width: 800px;
}

.timeline_container {
  /*   grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  justify-items: center;
  text-align: center;
}

.timeline_date {
  background-color: #083837;
  color: white;
  font-size: 30px;
  margin: auto;
  width: 50%;
  height: 115%;
  padding-top: 1%;
}
.timeline_image {
  max-width: 50%;
  height: auto;
  text-align: center;
}

.timeline_h4 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #083837;
}

.photocredit {
  text-align: left;
  padding-left: 25%;
  line-height: 0%;
  font-size: 10px;
}

.timeline_text {
  width: 50%;
  margin: auto;
  text-align: center;
}
.timeline_p_text {
  text-align: left;
  line-height: 30px;
}

.triangle_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  text-align: left;
  column-gap: 7%;
}

.asian_description {
  max-width: 70%;
}

.triangle_image {
  max-width: 60%;
  height: auto;
  text-align: left;
}

.black_white_description {
  max-width: 70%;
}

/* CODE FOR SAT BAR CHART EDITS HERE */

.bar_text {
  font-size: 14px;
  font-weight: 400;
}

.bar_y_axis path.domain {
  display: none;
}
.bar_y_axis line {
  display: none;
}
.bar_y_axis_text {
  fill: black;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

/* CODE For PIE CHART graphic  */
.piechart_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.piechart_title {
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

/* code for scatterplot graphic */
#income_degrees {
  position: relative;
}
.tooltip {
  position: absolute;
}

/* Code for race triangle */
.racetrianglegrid {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.racetriangle {
  max-width: 100%;
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
}

.centersvg {
  width: 110%;
}

#show-tooltip-0,
#show-tooltip-1,
#show-tooltip-2 {
  position: absolute;
  z-index: 2;
  background-color: #69b3a2;
  opacity: 100%;
  color: white;
  font-size: 14px;
  padding: 2%;
  border-radius: 5px;
  width: 600px;
  /* bottom: 105%; */
}

.trianglebold {
  font-weight: 800;
  font-size: 18px;
}

.sources {
  font-size: 12px;
  padding-left: 60%;
}

.sources1 {
  font-size: 12px;
}

.sourcesgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* observers css */

.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

@media (max-width: 1050px) {
  .grid_contain_multiples {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    row-gap: 2%;
  }
  .multiples {
    display: inline-block;
    margin: auto;
    padding: 2%;
  }
  .grid_contain_multiples_pie {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 2%;
  }

  .multiples_pie {
    margin: auto;
    display: block;
  }
}

@media (max-width: 430px) {
  .treechart800 {
    display: none;
  }

  .treechartMobile {
    display: block;
    margin: auto;
  }

  #income_degrees {
    display: none;
  }

  .scatplotMobile {
    display: block;
    margin: auto;
  }
}
